<!-- Banner Wrapper -->

<div id="banner-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Banner -->
                <div id="banner" class="box">

                    <div>
                        <div class="row">
                            <div class="7u">
                                <h2>Hi. This is Verti.</h2>
                                <p>It's a free responsive HTML5 site template by HTML5 UP</p>
                            </div>
                            <div class="5u">
                                <ul>
                                    <li><a href="#" class="button big fa fa-arrow-circle-right">Ok let's go</a></li>
                                    <li><a href="#" class="button alt big fa fa-question-circle">More info</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
