<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="4u">
						
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="widget-thumbnails">
										<h3>More free stuff</h3>
										<div class="grid">
											<div class="row no-collapse half">
												<div class="6u"><a href="http://html5up.net/minimaxing/" class="image image-full"><img src="/content/images/pic04.jpg" alt="" /></a></div>
												<div class="6u"><a href="http://html5up.net/halcyonic/" class="image image-full"><img src="/content/images/pic05.jpg" alt="" /></a></div>
											</div>
											<div class="row no-collapse half">
												<div class="6u"><a href="http://html5up.net/arcana/" class="image image-full"><img src="/content/images/pic06.jpg" alt="" /></a></div>
												<div class="6u"><a href="http://html5up.net/zerofour/" class="image image-full"><img src="/content/images/pic07.jpg" alt="" /></a></div>
											</div>
										</div>
										<a href="http://html5up.net/" class="button fa fa-file-text-o">More</a>
									</section>
								</div>
						
						</div>
						<div class="8u">

							<!-- Content -->
								<div id="content">
									<section class="last">
										<h2>So what's this all about?</h2>
										<p>This is Verti, a free and fully responsive HTML5 site template by <a href="#">HTML5 UP</a>
										It’s built on <a href="http://skeljs.org">skelJS</a>, which means it’s easy to customize and works very nicely on mobile devices 
										(try it for yourself -- just size down your browser window). Like everything else at HTML5 UP, 
										Verti is released under the <a href="#">Creative Commons Attribution license</a>, so feel free to use it for 
										pretty much anything you want (be it a personal project or a commercial venture), just don’t 
										forget to credit us!</p>
										<p>Like what you see here? Click the hugeass button below to see more of our work:</p>
										<a href="http://html5up.net/" class="button fa fa-arrow-circle-right">More  HTML5 UP</a>
									</section>
								</div>

						</div>
					</div>
				</div>
			</div>