<!-- Features Wrapper -->
			<div id="features-wrapper">
				<div class="container">
					<div class="row">
						<div class="4u">
						
							<!-- Box -->
								<section class="box box-feature">
									<a href="#" class="image image-full"><img src="/content/images/pic01.jpg" alt="" /></a>
									<div class="inner">
										<header>
											<h2>Put something here</h2>
											<span class="byline">Maybe here as well I think</span>
										</header>
										<p>You can put all kinds of stuff here, though I’m not sure what. Maybe a 
										little bit about one of those things you do that’s so cool?</p>
									</div>
								</section>

						</div>
						<div class="4u">
						
							<!-- Box -->
								<section class="box box-feature">
									<a href="#" class="image image-full"><img src="/content/images/pic02.jpg" alt="" /></a>
									<div class="inner">
										<header>
											<h2>An interesting title</h2>
											<span class="byline">This is also an interesting subtitle</span>
										</header>
										<p>You can put all kinds of stuff here, though I’m not sure what. Maybe a 
										little bit about one of those things you do that’s so cool?</p>
									</div>
								</section>

						</div>
						<div class="4u">
						
							<!-- Box -->
								<section class="box box-feature last">
									<a href="#" class="image image-full"><img src="/content/images/pic03.jpg" alt="" /></a>
									<div class="inner">
										<header>
											<h2>Oh, and finally ...</h2>
											<span class="byline">Here's another intriguing subtitle</span>
										</header>
										<p>You can put all kinds of stuff here, though I’m not sure what. Maybe a 
										little bit about one of those things you do that’s so cool?</p>
									</div>
								</section>

						</div>
					</div>
				</div>
			</div>