<!-- Search Wrapper -->
  <script type="text/javascript">
                jQuery(document).ready(function () {
                    $("#searchDropdownBox").change(function () {
                        var Search_Str = $(this).val();
                        //replace search str in span value
                        $("#nav-search-in-content").text(Search_Str);
                    });
                });
</script>

<div class="container">
    <div class="row">
        <div style="line-height: 1em; padding-bottom: 40px;">
            <div class="12u">
            <div>
                <form id="search-form" action="" method="post">
                    <div class="search_bar">
                        <label id="nav-search-label">
                        </label>
                        <span class=" nav-facade-active" id="nav-search-in" style="width: auto;"><span data-value="search-alias=aps"
                            id="nav-search-in-content" style="width: 60px; overflow: visible;">All Books </span>
                            <span class="nav-down-arrow nav-sprite"></span>
                            <select title="Search in" class="searchSelect" id="searchDropdownBox" name="books_category"
                                style="top: 0px;">
                                <option value="All Books" selected="selected">All Books</option>
                                <option value="Arts &amp; Photography" title="Arts &amp; Photography">Arts &amp; Photography</option>
                            </select>
                        </span>
                        <div class="nav-searchfield-outer nav-sprite">
                            <input value="" autocomplete="off" name="query" placeholder=""
                                title="Search For" id="twotabsearchtextbox" name="query" style="padding-right: 1px;" type="text">
                        </div>
                        <div class="nav-submit-button">
                            <input title="Go" class="nav-submit-input" value="Go" type="submit">
                        </div>
                    </div>
                </form>
            </div>

        </div>
        </div>
    </div>
</div>

