/Arisoph/Arisoph.suo

/Arisoph/Arisoph.Web.Framework/obj/Debug

/Arisoph/Arisoph.Web.UI/bin

/Arisoph/Arisoph.Web.UI/obj/Debug

/Arisoph/Arisoph.DAL.DomainObject/bin

/Arisoph/Arisoph.DAL.DomainObject/obj
/Arisoph/Arisoph.Web.Framework/bin
/Arisoph/Arisoph.Web.Framework/obj
/Arisoph/Arisoph.Web.UI/obj
/Arisoph/Arisoph.Web.UI/bin
/Arisoph/Arisoph.Web.UI.Tests/bin
/Arisoph/Arisoph.Web.UI.Tests/obj
/Arisoph/Arisoph.Web.UI/log.txt
/Arisoph/TestResults/Arisoph.TE.Tests.mdf

/Arisoph/TestResults/Arisoph.TE.Tests_log.ldf
/Arisoph/TestResults
