<!-- Log4Net Configuration -->
<log4net>

  <!-- Define an output appender (where the logs can go) -->
  <!--<appender name="LogFileAppender" type="log4net.Appender.FileAppender, log4net">
    <param name="File" value="log.txt" />
    <param name="AppendToFile" value="true" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
    </layout>
  </appender>-->

  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <maximumFileSize value="1000KB" />
    <maxSizeRollBackups value="-1" />
    <rollingStyle value="Size" />
    <appendToFile value="true" />
    <threshold value="ALL" />
    <file value="LogFiles\Log" />
    <staticLogFileName value="false" />
    <param name="RollingStyle" value="Date"/>
    <param name="DatePattern" value="-yyyy-MM-dd-hh-mm-ss.\tx\t"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c [%x] [%X{auth}] - %m%n" />
    </layout>
  </appender>

  <!-- Note: Priority level can be ALL/DEBUG/INFO/WARN/ERROR/FATAL/OFF -->
  <!-- Setup the root category, set the default priority level and add the appender(s) (where the logs will go) -->
  <root>
    <priority value="ALL" />
    <appender-ref ref="LogFileAppender" />
  </root>
</log4net>