@{
    ViewBag.Title = "Home Page";
}

@{ Html.RenderPartial("~/Views/Shared/Partial/_Search.cshtml");  }
@{ Html.RenderPartial("~/Views/Shared/Partial/_Result.cshtml");  }

@section maincontent {
    <section class="featured">
        <div id="main-wrapper">
            <div class="container">
            </div>
        </div>

    </section>
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#search-form").submit(function () {
                       
            var url = "/search";
                       
            $.ajax({
                type: "POST",
                url: url,
                data: $("#search-form").serialize(),
                success: function (data) {
                    $("#ProductResult").empty();
                    for (var i = 0; i < data.Products.length; i++) {
                        console.log(data.Products[i]);
                        $.tmpl($("#ProductTemplate"), data.Products[i]).appendTo("#ProductResult");
                    }
                }
            });

            return false; 
        });
    });
</script>
<script src="~/Content/script/jquery-jtemplates.js"></script>
<script src="~/Content/script/jquery.tmpl.js"></script>
<script type="text/template" id="ProductTemplate">
    <div class="4u" style="margin-top:25px;">     
                <section class="box box-feature">
                    <a href="#" class="image image-full"><img src="/content/images/pic02.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h4 class="ellipsis">${Title}</h4>
                            <span class="byline">Price: ${CurrencyCode} ${FormattedPrice}</span>
                            <span class="byline">Details</span>
                        </header>
                        <p >${Description}</p>
				</div>
			</section>
	</div>
</script>

