<!DOCTYPE HTML>
<!--
	Verti 2.5 by HTML5 UP
	html5up.net | 33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Verti by HTML5 UP</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Oleo+Script:400" rel="stylesheet" type="text/css" />
		<script src="/content/script/jquery.min.js"></script>
		<script src="/content/script/config.js"></script>
		<script src="/content/script/skel.min.js"></script>
		<script src="/content/script/skel-panels.min.js"></script>
        <link href="~/Content/plugins/search/css/style.css" rel="stylesheet" />
		<noscript>
			<link rel="stylesheet" href="/content/css/skel-noscript.css" />
			<link rel="stylesheet" href="/content/css/style.css" />
			<link rel="stylesheet" href="/content/css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="css/ie7.css" /><![endif]-->
	</head>
	<body class="homepage">

   
    
 
         @{ Html.RenderPartial("~/Views/Shared/Partial/_Header.cshtml");  }
		
		
		<div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

		 @RenderSection("maincontent", required: false)

         @{ Html.RenderPartial("~/Views/Shared/Partial/_Footer.cshtml");  }
	</body>
</html>