@model Arisoph.Web.UI.ViewModel.SearchProduct

@{
    ViewBag.Title = "Home Page";
}
<div>
    <form action="" method="post">
        <input name="query" type="text" />
        <input value="Search" name="submit" type="submit" />
    </form>
</div>

@if(Model != null)
{

<div>

    @foreach (var p in Model.Products)
    {
       <span> @p.Name&nbsp;( @p.Price)</span><br />
    }
</div>
}
